.wrapper {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid $colors-gray-200;
  margin-bottom: 12px;
}

.inIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  background: $colors-pink;
}

.outIcon {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  background: $colors-blue;
}

.moneyName {
  font-size: $font-size-default;
}
