.headerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  background: $colors-gradient;

  & > span {
    color: $colors-white;
    font-size: $font-size-large;
    padding: 20px;
  }
}
